---
dockerhub_login_user: NAME
dockerhub_login_password: PASSWORD
nssdc_client_cert: |
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----
nssdc_client_key: |
  -----BEGIN RSA PRIVATE KEY-----
  -----END RSA PRIVATE KEY-----